$color-grey: #474747;
$color-light-grey: #93939B;

.advantages-header {
    font-family: 'Open Sans', sans-serif;
    padding: 100px 0;
    background: #f5f5f5;
    &__main-caption {
        font-size: 38px;
        color: $color-grey;
        text-align: center;
        font-weight: 600;
        letter-spacing: -1;
    }
    &__line {
        border: none;
        border-bottom: 1px solid lighten($color-grey,55%);
        margin: 25px 0;
    }
    &__second-caption {
        font-size: 26px;
        color: $color-light-grey;
        text-align: center;
        letter-spacing: -0.5;
        font-weight: 300;
    }
}

.advantages-content {
    font-family: 'Open Sans', sans-serif;
    padding: 100px 0;
    &__item {
        padding: 30px;
        img {
            float: left;
            margin-right: 30px;
            border-radius: 3%;
        }
        h3 {
            font-weight: 600;
            font-size: 20px;
            color: $color-grey;
            padding-bottom: 25px;
            letter-spacing: -1;
        }
        p {
            color: $color-light-grey;
            line-height: 1.5;
            word-spacing: 3;
        }
    }
}