.btn {
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 35px;
  text-align: center;
  font-weight: 500;
  transition: .5s ease-in-out;
  font-size: 16px;
  color: #fff;
  color: inherit;
  transition: .5s;
  cursor: pointer;

  &--underline {
    border-bottom: 1px dotted;
    transition: .5s;
    
    &:hover { color: #fff; }
  }
  
  &--blue {
    background: #37C0FB;
    
    &:hover { 
      background: rgba(55, 192, 251, 0.8);
    }
  }
  &--white {
    background: #fff;
    color: #333;
    
    &:hover {
      color: #37C0FB;
    }
  }
  &--grey {
    background: #524C4C;
    color: #fff;
    
    &:hover {
<<<<<<< HEAD
      background: #222;
=======
      background: #626262;//-webkit-linear-gradient(bottom, #524C4C, #716767);
>>>>>>> f748f92fb52c05ba795b10de60982c51b08f3fe5
    }
  }
}