.btn {
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 35px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  transition: .5s ease-in-out;
  cursor: pointer;

  &--blue {
    background: #37C0FB;
    
    &:hover { 
      opacity: .9;
    }
  }
  &--white {
    background: #fff;
    color: #333;
    
    &:hover {
      color: #37C0FB;
    }
  }
  &--grey {
    background: #333;
    
    &:hover {
      opacity: .9;
    }
  }
}