.btn {
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 35px;
  text-align: center;
  font-weight: 500;
  color: inherit;
  transition: .5s;
  cursor: pointer;

  &--underline {
    border-bottom: 1px dotted;
    transition: .5s;
    
    &:hover { color: #fff; }
  }
  
  &--blue {
    background: #37C0FB;
    
    &:hover { 
      background: rgba(55, 192, 251, 0.8);
    }
  }
  &--white {
    background: #fff;
    color: #333;
    
    &:hover {
      color: #37C0FB;
    }
  }
  &--grey {
    background: #333;
    
    &:hover {
      background: #222;
    }
  }
}