.main-header {
  
  &__caption {
    padding: 40px;
    background: url("../../../img/bg01.png");
    text-align: center;
    font-weight: 300;
  }
  
}
.nav {
  
  &__item {
    display: block;
    float: left;
  }
  
}