.servises {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
	height:500px;
}
.info {
	text-align:center;
	&__image {
		margin-bottom: 30px;
		padding:18px;
		border-radius: 50%;
		border: 1px solid #06AADC;
		height: 100px;
		width: 100px;
		background-color: #06AADC;
		color: white;
	}

	&__text {
		padding-top: 40px;
		color: grey;
	}
	

}

